{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static 'img/home-bg.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Zerol's Blog</h1>
                        <span class="subheading">too difficult to create a blog</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">

<!-- USE SIDEBAR -->
    <!-- Post Container -->
    		<div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                post-container
            ">

                {% block content %}{% endblock %}

            </div>

            <!-- Sidebar Container -->
            <div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-xs-12
                sidebar-container
            ">
                <!-- Featured Tags -->

                <section>
                    <hr class="hidden-sm hidden-xs">
                    <h5>FEATURED TAGS</h5>
                    <div class="tags">

                        {% block tags %}{% endblock %}

                    </div>
                    <hr class="hidden-sm hidden-xs">
                    <h5>CATEGORY</h5>
                    <div>

                        {% block category %}{% endblock %}

                    </div>
                </section>
    		</div>




        </div>
    </div>

    <hr>

{% endblock %}