{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static 'img/home-bg.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1 style="font-size: 60px">{{ article.title }}</h1>
                        <span class="subheading">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            post time:{{ article.created_time | date:"Y-m-d"}}
                            {% if article.last_modified_time.date != article.created_time.date %}
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            last update:{{ article.last_modified_time | date:"Y-m-d"}}
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{ article.body |safe }}
                </div>
            </div>
        </div>
    </article>

    <hr>
{% endblock %}