{% extends 'base-index.html' %}
{% block content %}

    {% for article in article_list %}
        <div class="post-preview">
            <a href="{% url 'blog:detail' article.pk %}">
                <h2 class="post-title">
                    {{ article.title }}
                </h2>
                <h3 class="post-subtitle">
                    {{ article.abstract }}
                </h3>
            </a>
            <div class="post-preview" style="float: left">
                <p class="post-meta">分类:<a href="#">{{ article.category.name }}</a>&nbsp;&nbsp;&nbsp;&nbsp;</p>
            </div>
            <div class="sidebar-container" style="float: right">
                <div class="tags">
                    <a href="/tags/#linux基础" title="linux基础" rel="9">linux基础</a>
                    <a href="/tags/#linux基础" title="linux基础" rel="9">linux基础</a>
                    <a href="/tags/#linux基础" title="linux基础" rel="9">linux基础</a>
                </div>
            </div>
        </div>
        <br>
        <hr>
    {% endfor %}
    <!-- Pager -->
    <ul class="pager">
    {% if page_obj.has_next %}
                    <li class="next">
                        <a href="{% url 'blog:pages' page_obj.next_page_number %}">Older &rarr;</a>
                    </li>
    {% endif %}
    {% if page_obj.has_previous %}
                    <li class="previous">
                        <a href="{% url 'blog:pages' page_obj.previous_page_number %}">&larr; Newer</a>
                    </li>
    {% endif %}
    </ul>
{% endblock %}


{% block tags %}
                                <a href="/tags/#linux基础" title="linux基础" rel="9">
                                    linux基础
                                </a>
                                <a href="/tags/#django" title="django" rel="3">
                                    django
                                </a>
                                <a href="/tags/#git" title="git" rel="6">
                                    git
                                </a>
                                <a href="/tags/#jQuery" title="jQuery" rel="4">
                                    jQuery
                                </a>
{% endblock %}